.Rproj.user
.Rhistory
.RData
.Ruserdata
tornado.zip
January10.RData
SocialCorrelatesofCasualtiesPart1.Rmd
SocialCorrelatesofCasualtiesPart2.Rmd
SocialCorrelatesofCasualtiesPart3.Rmd
states.zip
torn
tornado2017.zip
1950-2017-torn-aspath
1950-2017-torn-initpoint
2016Torn
Tornado-Level-Estimates-OLD.Rmd
Tornado-Level-Estimates-NEW.Rmd
Tornado-Level-Estimates-PUBLIC-OLD.Rmd
2012_Tracts
2012ACS.csv
1990Census_1.csv
1990Census_1.txt
1990Census_2.csv
1990Census_2.txt
1990_Tracts
SocialCorrelatesNew
states
