.Rproj.user
.Rhistory
.RData
.Ruserdata
tornado.zip
January10.RData
SocialCorrelatesofCasualtiesPart1.Rmd
SocialCorrelatesofCasualtiesPart2.Rmd
SocialCorrelatesofCasualtiesPart3.Rmd
states.zip
torn
tornado2017.zip
1950-2017-torn-aspath
1950-2017-torn-initpoint
2016Torn
Tornado-Level-Estimates.Rmd
2012_Tracts
2012ACS.csv